.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    width: 80%; /* Adjust the width based on your design */
    max-width: 400px; /* Set a maximum width if necessary */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    background: transparent;
    border: none;
}

.close:hover {
    color: #000;
}
